/* @font-face{ 
	font-family: 'Dock51';
	src: url('../Assets/fonts/dock51-webfont.eot');
	src: url('../Assets/fonts/dock51-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../Assets/fonts/dock51-webfont.woff') format('woff'),
	     url('../Assets/fonts/dock51-webfont.ttf') format('truetype'),
	     url('../Assets/fonts/dock51-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
body {
    background-color: lightgrey;
}

.container {
    width: 100%;
}

canvas {
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    background-color: white;
}